<link rel="stylesheet" href="/css/home.css" />

<div id="conch-banner" class="animate__animated animate__fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div id="pic" class="col-md-6 order-md-2 text-center">
                <img class="img-fluid mb-6" src="http://cos.mineseb.cn/markdown/20220617003744.png" />
            </div>

            <div id="detail" class="col-md-6 order-md-1 text-center pr-md-5">
                <h1 class="mb-3">Hello Codecat</h1>
                <h1>第 1 期</h1>
                <p class="lead">
                    <i>一个分享各种奇思妙想文章和项目的网站</i>
                </p>
                <p class="lead">
                    <i>就是这样,喵!</i>
                </p>
                <p class="lead">
                    <i>安卓逆向,Js解密,爬虫分析,信息安全</i>
                </p>
                <div id="opt" class="row mx-n2">
                    <div class="col-md px-2">
                        <a class="btn btn-outline-secondary" onclick="navigation('intro')">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>