<link rel="stylesheet" href="/css/intro.css" />
<script src="/js/intro.js"></script>

<div id="banners" class="animate__animated animate__fadeIn">

    <div class="banner" id="banner1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2 text-center">
                    <img class="img-fluid mb-3 mb-md-0" src="http://cos.mineseb.cn/markdown/20220617124238.png"
                        height="400" />
                </div>
                <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                    <h1 class="mb-3">Hello Codecat !!!</h1>
                    <p class="lead">
                        <i>"oh! 看起来你似乎进入了一个奇怪的地方!"</i>
                    </p>
                    <p class="lead">
                        <i>"这是一个分享各种奇思妙想的地方"</i>
                    </p>
                    <p class="lead">
                        "就决定是你了！"
                    </p>
                    <div class="row mx-n2">
                        <div class="col-md px-2">
                            <a class="btn btn-outline-dark btn-lg w-100 mt-3" onclick="createVideo()"
                                data-toggle="modal" data-target="#exampleModalCenter">观看视频</a>

                            <div class="modal fade" id="exampleModalCenter" data-backdrop="static" tabindex="-1"
                                role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner" id="banner2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-1 text-center">
                    <img class="img-fluid mb-3 mb-md-0" src="http://cos.mineseb.cn/markdown/20220617124909.png"
                        height="400" />
                </div>

                <div class="col-md-6 order-md-2 text-center text-md-left pr-md-5">
                    <h1 class="mb-3">Hello Codecat是什么鬼？</h1>
                    <p class="lead">
                        发现的有意思、高质量、容易上手的项目收集起来
                    </p>
                    <p class="lead">
                        这样便于以后查找和学习
                    </p>
                    <p class="lead">
                        后来打算把这些有意思、有价值的开源项目分享给大家。最后就写了这个网站，便于查看和分享
                    </p>
                    <p class="lead">
                        <i></i>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="banner" id="banner3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2 text-center">
                    <img class="img-fluid mb-3 mb-md-0" src="http://cos.mineseb.cn/markdown/20220617125049.png"
                        height="400" />
                </div>

                <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                    <h1 class="mb-3">加入之后我能干什么？</h1>
                    <p class="lead">
                        与朋友们分享你的创意!
                    </p>
                    <p class="lead">
                        一起协作开发有趣的软件!
                    </p>
                    <p class="lead">
                        为你的简历添上一份经历!
                    </p>
                    <p class="lead">
                        尽情享受软件开发的乐趣!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="banner" id="banner4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-1 text-center">
                    <img class="img-fluid mb-3 mb-md-0" src="http://cos.mineseb.cn/markdown/20220617125505.png"
                        height="400" />
                </div>

                <div class="col-md-6 order-md-2 text-center text-md-left pr-md-5">
                    <h1 class="mb-3">你在这里能学到什么?</h1>
                    <p class="lead">
                        关于逆向的开源项目、让生活变得更美好的工具、书籍、学习笔记、教程等
                    </p>
                    <p>通过这些项目你将学习到更多编程知识、提高自己的编程技巧、发现编程的乐趣</p>
                    <a class="btn btn-outline-light btn-lg w-100 mt-3" onclick="navigation('conch')"
                        href="javascript:void(0);">今日推荐</a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner" id="banner5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2 text-center">
                    <img class="img-fluid mb-3 mb-md-0" src="http://cos.mineseb.cn/markdown/20220617125633.png"
                        height="400" />
                </div>

                <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                    <h1 class="mb-3">我们不能在这里什么也不做！！</h1>
                    <p class="lead">
                        <i>"你通过了考验我可以满足你一个愿望</i>
                    </p>
                    <a class="btn btn-outline-light btn-lg w-100 mt-3" onclick="alert('开发中...')"
                        href="javascript:void(0);">动手试一试</a>
                </div>
            </div>
        </div>
    </div>

</div>